
.dropdown-toggle::after{
	// margin-left: 0;
}

i.fa.fa-calendar{
	font-size: 11px;
}
section.footer .section-box .box-footer .menu ul li a{
	font-size: 13px;
}

section.header-affixs,
section.header{
	.header-bottom{
		transition: background .3s ease-in-out;
		z-index: 5;
		width: 100%;
		.logo-image{
		}
	}
	.header-bottom{
		.navbar-expand-lg ul.navbar-nav{
			max-width: 880px;
			li.nav-item{
				a.nav-link{
					padding-left: 0; padding-right: 0;
				}
				padding: 0 20px;
			}
			li.nav-item.contact{
				padding: 0 38px;
				margin-left: 25px;
				a{
					padding-top: 0.4rem;
					padding-bottom: 0.4rem;
				}
			}
		}
	}

	.header-bottom.mn-open{
		background-color: rgba(255,255,255, 0.95);
		.navbar-expand-lg ul.navbar-nav{
			li.nav-item{
				a.nav-link{
					color: #000;
				}
				padding: 0 23px;
			}
			li.nav-item.contact{
				border-color: #000;
				padding: 0 38px;
				margin-left: 25px;
			}
		}
	}

	.blocks_menu_dropdown.views-menu{
		display: block;
		clear: both;
	}

	.blocks_menu_dropdown{
		position: absolute;
		z-index: 999;
		width: 100%;
		min-height: 150px; height: auto;
		background-color: rgba(255,255,255, 0.95);
		transition: background 0.95s ease-in-out;
		display: none;
		
		.lines-grey{
			height: 1px; width: 100%;
			background-color: #b8b8b8;
		}

		.menu-sub{
			ul{
				display: block;
				margin: 0; padding: 0; margin: 0;
				li{
					padding: 2.3px 0;
					a{
						font-size: 16px; font-weight: 700; color: #717171;
						text-decoration: none;
					}
				}	
				li:hover,
				li.active{
					a{
						color: #000; text-decoration: none;
					}
				}
			}
			clear: both;
		}

		.bx-inners_sub{
			float: right;
			width: 852px;
			margin-right: 2.5rem;
			.blc_right_close_menu{
				a{
					color: #110f10;
					text-decoration: none;
					i.fa{
						color: #110f10;
						font-size: 19px;
					}
				}
			}
		}

	}
	clear: both;
}

.kanan-sendiri{
	.en-in{
		padding-left: 45px;
		a{
			font-size: 14px; color: #000; font-weight: 400;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #000;
		}
	}
}

.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

section.outers-box-videos{
	min-height: 675px; height: auto; width: 100%;
	background: url('../images/backs-home-tambah-video.jpg') repeat-x;
}
.box-videos-nyoutubes{
	.inner-video{
		iframe{
			// position: relative;
			// z-index: 7; 
			-webkit-box-shadow: 6px 6px 16px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    6px 6px 16px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         6px 6px 16px 0px rgba(50, 50, 50, 0.75);
		}
	}
	clear: both;
}

@media (max-width: 767px) {
	
	section.outers-box-videos{
		min-height: inherit;
		padding-bottom: 2rem;
	}
	.navbar-dark .navbar-toggler{
		border: 0px;
	}
	nav.navbar.fixed-top{
		background: linear-gradient(90deg,#1696b3 20%,#297772 70%,#357b60 100%);
	}
	.fcs-wrapper.outers_fcs_wrapper{
		padding-top: 75px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption.caption-slider-home{
		background: linear-gradient(90deg,#1696b3 20%,#297772 70%,#357b60 100%);
		position: relative;
		top: inherit; left: inherit; bottom: inherit;
		.bxsl_tx_fcs h3{
			font-size: 17px;
		}
		.bxsl_tx_fcs h3{
			font-size: 28px;
		}
		.bxsl_tx_fcs p{
			font-size: 13px;
		}
	}


	section.home-sec-1{
		min-height: inherit;
		padding-bottom: 7em;
	}
	section.home-sec-1 .box-content {
		padding-top: 4em;
	}
	section.home-sec-our .box-our-service .box-content-outer .box-content-inner .box-isi-content .content-insides-box{
		padding-bottom: 0.5em;
	}
	.header-affixs.affix{ display: none; }

	section.connect .box-content img{
		padding-left: 5px;
	    max-width: 27px;
	    margin-left: 5px;
	}
	section.footer .section-box .box-footer .title p{
		font-size: 17px;
	}
	section.footer .section-box .box-footer .menu ul li a{
		font-size: 14px;
	}

	section.breadcrumb-insides .prelative.container nav .breadcrumb li a{
		// overflow: hidden;
		// clear: left;
		// text-align: left;
		// text-overflow: ellipsis;
		// white-space: nowrap;
	}
	section.breadcrumb-insides .prelative.container{
		height: auto;
	}
	.cover .text {
		padding: 0 15px;
	}
	.cover .text h2.what{
		font-size: 20px;
	}
	.cover .text p{
		font-size: 25px; line-height: 1.3;
	}

	section.header .header-tops,
	section.header .header-bottom{
		display: none;
	}
	section.home-sec-4 .box-header {
	    padding-top: 1.5em !important;
	}
	section.news-sec-1 .prelative.container .box-content .image{
		padding-top: 1.8em;
	}
	section.news-sec-1 .prelative.container .box-content .content p{
		padding-top: 20px;
	}
	// section.news-sec-2 .prelative.container .box-content, 
	section.news-sec-2 .prelative.container .box-content .tanggal{
		padding-top: 15px;
	}
	section.news-sec-2 .prelative.container .box-content .title-content{
		padding-top: 5px;
	}
	section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat{
		text-align: center !important;
	}
	.prelative.container2 .inblock_topfilter .paginat nav,
	section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav{
		float: none;
	}
	.prelative.container2 .inblock_topfilter .paginat nav ul,
	section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav ul{
		justify-content: center;
	}
	section.newssss-sec-1 .prelative.container .box-content-inner {
	    padding-top: 2em;
	}
	section.newssss-sec-1 .prelative.container .box-content-inner .tanggal {
	    padding-top: 0.6em;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators{
		margin: 0 !important;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native {
	    bottom: -35px !important;
	}

}

@media (max-width: 449px) {
	.cover .text h2.what{
		font-size: 20px;
		margin-bottom: 0;
	}
	.cover .text p{
		font-size: 28px;
	}
	section.home-sec-our .box-our-service .box-cont a{
		font-size: 14px;
	}
	section.home-sec-4 .box-header .sub p{
		font-size: 23px !important;
	}
	section.home-sec-4 .box-row-content .content p{
		font-size: 18px;
	}
	section.connect .box-content p{
		font-size: 27px;
	}
	.cover .text{
		// transform: translate(-50%,0%)
	}
	.cover{
		margin-top: 80px;
    	height: 200px;
	}

	.cover .text p {
	    font-size: 24px;
	}

}